
<form [formGroup]="todoForm" class="example-form" (ngSubmit)="addTodo()">

  <mat-form-field class="example-full-width">
    <mat-label>User Id</mat-label>
    <input type="number" matInput formControlName="userId" placeholder="Ex. 2">

  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" placeholder="Ex. dsgfsdg">

  </mat-form-field>
  <div>
    <mat-checkbox class="example-margin" formControlName="completed">Accept TnC</mat-checkbox>
  </div>

  <div>
    <button mat-raised-button color="primary" type="submit">Add Todo</button>
  </div>


</form>
