<!-- <h1>
  Hello World!
</h1> -->

<!-- <button class="btn btn-primary" (click)="addEmployee()">Add Employee</button> -->

<!--
<div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
      <ge-product></ge-product>
    </div>
     <ng-container *ngSwitchCase="'User'">
      <ge-employee *ngSwitchCase="'User'"></ge-employee>
    </ng-container>
    <div *ngSwitchDefault>
      You are not assigned to a role!
    </div>
</div> -->

<!-- <ge-todos></ge-todos>

<mat-divider></mat-divider>

<ge-employee></ge-employee> -->

<!-- <ge-container>
  <h1>
    This is content projection.
  </h1>
  <ge-employee></ge-employee>
  <ge-product></ge-product>
</ge-container> -->
<!-- <ge-pokemon></ge-pokemon> -->

<!-- <ge-comments></ge-comments> -->
<!-- <a routerLink="product" routerLinkActive="active">Product</a>
<a routerLink="employee">Employee</a>
<router-outlet></router-outlet> -->
<ge-main-nav></ge-main-nav>
