<!-- <pre>
  {{comments | json  }}
</pre> -->


<table class="table">
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>Post Id</th>
      <th>Name</th>
      <th>
        Email
      </th>
      <th>
        Body
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments">
      <td>{{comment.id}}</td>
      <td>{{comment.postId}}</td>
      <td>{{comment.name}}</td>
      <td>{{comment.email}}</td>
      <td>{{comment.body}}</td>
      <td>
        <button class="btn btn-success" [routerLink]="['/comments',comment.id]">Details</button>
      </td>
    </tr>
  </tbody>
</table>
