<ng-container *ngIf="routeData$ | async as routeData ">
  <h1>
    {{routeData.title }}
  </h1>
  <h2>{{routeData.desc }}</h2>
</ng-container>
<!-- <h1>
  {{(routeData$ | async).title }}
</h1>
<h2>{{(routeData$ | async).desc }}</h2> -->


<!-- Interpolation -->
<ge-header></ge-header>

<ge-header></ge-header>

<ge-header></ge-header>
{{name}}
<mat-divider *ngIf="cart$">
</mat-divider>

<h1>Cart Data</h1>
<pre>
  {{cart$ | async | json  }}
</pre>

<!-- property binding -->
<div [hidden]="hide" [innerText]="department"></div>

<div *ngIf="hide" [innerText]="department"></div>


<!-- event binding -->
<button (click)="toggle()">Toggle</button>

<ge-product-list></ge-product-list>

{{product.name  + ' Category: ' + product.category}}
{{1+1}}


<!-- template refrence -->
<div #footer></div>
