<h1>
  {{title}}
</h1>

<!-- {{empList | json}} -->

<table mat-table [dataSource]="empList" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let emp"> {{emp.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let emp"> {{emp.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let emp"> {{emp.email}} </td>
  </ng-container>

  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
    <td mat-cell *matCellDef="let emp"> {{emp.dob}} </td>
  </ng-container>

  <ng-container matColumnDef="salary">
    <th mat-header-cell *matHeaderCellDef> Salary </th>
    <td mat-cell *matCellDef="let emp"> {{emp.salary}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Select </th>
    <td mat-cell *matCellDef="let emp">
      <button mat-raised-button color="primary" (click)="sendToParent(emp)">Select</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
